@use 'base/variables' as v;
@use 'base/mixins' as m;
 
.formulario{
    width: 100%;
    margin-top: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label{
        flex: 0 0 10rem; //ancho de la etiqueta
    }
    input{
        flex: 1; //amplia el ancho del input al100 a la derecha
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
        &:disabled{
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            // cursor: not-allowed;
        }
    }
}